<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>칸반 보드</title>   
    {% load static %} 
    <link rel="stylesheet" href="{% static 'kanban/css/styles.css' %}">    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <header class="header">
        <h1>칸반 보드</h1>
        <div class="header-buttons">
            <button class="load-csv-btn" onclick="loadTasksFromCSV()">CSV 불러오기</button>
            <button class="save-csv-btn" onclick="saveTasksToCSV()">CSV로 저장</button>
        </div>
    </header>
    <div class="board">
        <!-- TODO 컬럼에만 작업 추가 버튼 -->
        <div class="column todo" ondrop="drop(event)" ondragover="allowDrop(event)">
            <h2 class="column-title todo-title">To Do</h2>
            <button class="add-task-btn" onclick="addTask('To Do')">작업 추가</button>
        </div>

        <!-- In Progress 컬럼 -->
        <div class="column in-progress" ondrop="drop(event)" ondragover="allowDrop(event)">
            <h2 class="column-title in-progress-title">In Progress</h2>
        </div>

        <!-- Closed 컬럼 -->
        <div class="column done" ondrop="drop(event)" ondragover="allowDrop(event)">
            <h2 class="column-title done-title">Closed</h2>
        </div>
    </div>

    <!-- 편집 모달 창 -->
    <div id="editModal" class="modal">
        <div class="modal-content">
            <h2>작업 편집</h2>
            <label for="editTaskContent">작업 내용:</label>
            <input type="text" id="editTaskContent">
            <label for="editTaskAssignee">담당자:</label>
            <input type="text" id="editTaskAssignee">
            <label for="editTaskDepartment">부서:</label>
            <input type="text" id="editTaskDepartment">
            <button onclick="saveEditTask()">저장</button>
            <button onclick="closeEditModal()">취소</button>
        </div>
    </div>
   

    <script src="{% static 'kanban/js/scripts.js' %}" defer></script>
</body>
</html>
