<!DOCTYPE>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>check test</title>
    </head>

    <body>
        <h2>Test 데이터 확인</h2>
        <form method="post" action="{% url 'check_test' %}">
            {% csrf_token %}
            <label for = "task_id">Task ID:</label>
            <input type="number" id="task_id" name="task_id" required>
            <button type="submit">확인</button>
        </form>

        {% if id %}
        <h2>Task 내용</h2>
        <p>Task ID: {{ id.id }}</p>
        <p>Task 제목: {{ id.title }}</p>
        <p>Task 내용: {{ id.content }}</p>
        <p>Task 담당자: {{ id.assigned_to }}</p>
        <p>Task 우선순위: {{ id.priority }}</p>
        <p>Task 시작일: {{ id.start_date }}</p>
        <p>Task 마감일: {{ id.end_date }}</p>
        <p>Task 생성일: {{ id.created_at }}</p>
        <p>Task 수정일: {{ id.updated_at }}</p>
        {% endif %}
    </body>
</html>